<div class="row mt-5">
  <div class="col-sm-8 mx-auto">
    <div class="card shadow-sm">
      <div class="card-img-top py-3 px-3">
        <%= image_tag @post.image, style: "width: 100%" %>
      </div>
      <div class="card-footer mt-5 card-text">
        <div class="d-flex align-items-enter justify-content-between">
          <h5>
            <%= image_tag avatar_url_for(@post.user, size: 32), class: "rounded-circle mr-2" %>
            <%= link_to @post.user.username, user_path(@post.user.username), class: "text-muted" %>
            <% if current_user.present? && @post.user_id == current_user.id %>
              <small>
                <%= link_to "Delete", post_path(@post), class: "btn btn-sm btn-outline-danger", method: :delete, data: { confirm: "Are you sure?" } %>
              </small>
            <% else %>
            <% end %>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
