<div class="container">
  <div class="justify-content-center align-items-center">
    <div class="row">
      <div class="col-md-8 col-lg-8 mx-auto my-5">
        <div class="card shadow-sm">
          <div class="card-body p-5">
            <h2 class="my-3">Share something</h2>

            <hr />

            <%= render "form", post: @post %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

